.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	gap: 1rem;
}

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.tagline {
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo {
	width: 420px;
	margin-inline: auto;
	display: block;
}

[data-theme='dark'] .logo {
	content:url("/img/logo-white.svg");
}

[data-theme='light'] .logo {
	content:url("/img/logo-black.svg");
}